.quarks {
	text-align: center;
	color:#e12edd;
	text-shadow: 0 0 10px #e4d4ff;
	border-radius: 9px;
}

.red {
	text-align: center;
	font-size: 23px;
	color:#FF0000;
	text-shadow: 0 0 10px #FF0000;
	border-radius: 9px;
}

.green {
	text-align: center;
	font-size: 23px;
	color:#00FF00;
	text-shadow: 0 0 10px #00FF00;
	border-radius: 9px;
}

.blue {
	text-align: center;
	font-size: 23px;
	color:#0000FF;
	text-shadow: 0 0 10px #0000FF;
	border-radius: 9px;
}

.yellow {
	text-align: center;
	font-size: 23px;
	color:#FFFF00;
	text-shadow: 0 0 10px #FFFF00;
	border-radius: 9px;
}

.cyan {
	text-align: center;
	font-size: 23px;
	color:#00FFFF;
	text-shadow: 0 0 10px #00FFFF;
	border-radius: 9px;
}

.magenta {
	text-align: center;
	font-size: 23px;
	color:#FF00FF;
	text-shadow: 0 0 10px #FF00FF;
	border-radius: 9px;
}

.white {
	text-align: center;
	font-size: 23px;
	color:#000000;
	text-shadow: 0 0 10px #000000;
	border-radius: 9px;
}
