body {
	text-align: center;
	font-family: verdana;
	font-size: 20px;
	cursor: default;
}

.button_dim {
	background-color: #ffffff;
	text-align: center;
	font-family: verdana;
	font-size: 17px;
	height:50px;
	width:800px;
	cursor: pointer;
	color:#000000;
	transition-duration: 0.2s;
	border: 2px solid #000000;
	box-shadow: #67e1dd 3px 4px 0px 0px;
	border-radius: 9px;
}

.button_dim:hover {
	border: 2px solid #67e1dd;
}

.points {
	text-align: center;
	font-size: 27px;
	color:#000000;
	text-shadow: 0 0 10px #000000;
	border-radius: 9px;
}

.rooms {
	text-align: center;
	color:#a3a3a3;
	text-shadow: 0 0 10px #a3a3a3;
	border-radius: 9px;
}

.timespeed {
	text-align: center;
	font-size: 23px;
	color:#67e1dd;
	border-radius: 9px;
	text-shadow: 0 0 10px #67e1dd;
}

.button_upg {
	background-color: #ffffff;
	text-align: center;
	vertical-align:text-top;
	font-family: verdana;
	box-shadow: #1bbfab 3px 4px 0px 0px;
    border-color: inherit;
	border-radius: 9px;
	cursor: pointer;
	transition-duration: 0.2s;
	height:200px;
	width:200px;
}

.cant_buy {
	box-shadow: red 3px 4px 0px 0px;
}

.can_buy {
	box-shadow: green 3px 4px 0px 0px;
}

.button_upg:hover {
	box-shadow: #1bbfab 0px 0px 0px 0px;
}

.tabbtnSet {
    background: #E0E0E0;
    font-weight: bold;
    border: 2px solid #4980CC;
    border-radius: 4px;
    transition-duration: 0.2s;
    cursor: pointer;
	font-family: Typewriter;
	font-size: 20px;
    display: inline-block;
}

.tabbtnSet:hover {
    background: #4980CC;
    color:#FFFFFF;
}

.tabbtn {
    background: #E0E0E0;
    font-weight: bold;
    border: 2px solid #67e1dd;
    border-radius: 4px;
    transition-duration: 0.2s;
    cursor: pointer;
	font-family: Typewriter;
	font-size: 20px;
    display: inline-block;
}

.tabbtn2 {
    background: #FFFFFF;
    font-weight: bold;
    border: 2px solid #000000;
    border-radius: 4px;
    transition-duration: 0.2s;
    cursor: pointer;
	font-family: Typewriter;
	font-size: 20px;
    display: inline-block;
}

.tabbtn3 {
    background: #e4d4ff;
    font-weight: bold;
    border: 2px solid #e12edd;
    border-radius: 4px;
    transition-duration: 0.2s;
    cursor: pointer;
	font-family: Typewriter;
	font-size: 20px;
    display: inline-block;
}

.tabbtn4 {
    background: #FFFFFF;
    font-weight: bold;
    border: 2px solid rgb(0,100,0);
	box-shadow: rgb(0,206,0) 0px 0px 5px 0px;
    border-radius: 4px;
    transition-duration: 1s;
    cursor: pointer;
	font-family: Typewriter;
	font-size: 20px;
    display: inline-block;
	color:rgb(0,100,0);
}

.tabbtn:hover {
	border: 2px solid #E0E0E0;
	background: #000000;
	color:#e1fffe;
}

.tabbtn2:hover {
	border: 2px solid #E0E0E0;
	background: #000000;
	color:#FFFFFF;
	box-shadow: #E0E0E0 0px 0px 0px 2px;
}

.tabbtn3:hover {
	border: 2px solid #E0E0E0;
	background: #FFFFFF;
	color:#e4d4ff;
}

.tabbtn4:hover {
	border: 2px solid rgb(0,206,0);
	background: #000000;
	color:rgb(0,206,0);
}