body {
	text-align: center;
	font-family: verdana;
	font-size: 20px;
	cursor: default;
}

.button_dim {
	background-color: #f0fffe;
	text-align: center;
	font-family: verdana;
	font-size: 17px;
	height:50px;
	width:600px;
	cursor: pointer;
	color:#000000;
	border-radius: 9px;
}

.points {
	text-align: center;
	font-size: 27px;
	color:#000000;
	-webkit-text-stroke-width: 0.3px;
	-webkit-text-stroke-color: #000000;
	border-radius: 9px;
}

.timespeed {
	text-align: center;
	font-size: 23px;
	color:#67e1dd;
	-webkit-text-stroke-width: 0.3px;
	-webkit-text-stroke-color: #67e1dd;
	border-radius: 9px;
}

.button_upg {
	background-color: #ffffff;
	text-align: center;
	vertical-align:text-top;
	font-family: verdana;
	box-shadow: #1bbfab 3px 4px 0px 0px;
    border-color: inherit;
	border-radius: 9px;
	cursor: pointer;
	height:200px;
	width:200px;
}