.dim1 {
	background-color: #ffffff;
	text-align: center;
	font-family: verdana;
	font-size: 17px;
	height:50px;
	width:800px;
	cursor: pointer;
	color:#000000;
	transition-duration: 0.2s;
	border: 2px solid #000000;
	box-shadow: #67e1dd 3px 4px 0px 0px;
	border-radius: 9px;
}

.dim1:hover {
	border: 2px solid #67e1dd;
}

.dim2 {
	background-color: #ffffff;
	text-align: center;
	font-family: verdana;
	font-size: 17px;
	height:50px;
	width:800px;
	cursor: pointer;
	color:#000000;
	transition-duration: 0.2s;
	border: 2px solid #000000;
	box-shadow: #a3a3a3 3px 4px 0px 0px;
	border-radius: 9px;
}

.dim2:hover {
	border: 2px solid #a3a3a3;
}