.rooms_upg {
	background-color: #ffffff;
	text-align: center;
	vertical-align:text-top;
	font-family: verdana;
    border-color: inherit;
	border-radius: 9px;
	transition-duration: 0.2s;
	height:200px;
	width:200px;
}

.rooms_upg_have {
	box-shadow: #1bbfab 3px 4px 0px 0px;
}

.rooms_upg_cantBuy {
	box-shadow: red 3px 4px 0px 0px;
	cursor: not-allowed;
}

.rooms_upg_canBuy {
	box-shadow: lightgreen 3px 4px 0px 0px;
	cursor: pointer;
}

.rooms_upg_canBuy:hover {
	box-shadow: lightgreen 0px 0px 0px 0px;
}