.time_space {
	text-align: center;
	font-size: 23px;
	color:rgb(0,100,0);
	text-shadow: 0 0 10px rgb(0,206,0);
	border-radius: 9px;
}


.square,
.square-triangle {
    position: absolute;
	transition-duration: 0.2s;
}

.square {
    background-color: rgb(0,206,0);
    width: 300px;
    height: 300px;
    left: 50%;
    animation-name: square-master;
    transform: translate3d(-50%, 0, 0);
	border: 2px solid #000000;
	box-shadow: rgb(0,206,0) 0px 0px 25px 0px;
}

.square-triangle--top {
    bottom: 0;
    right: 0;
	border: 75px solid rgb(0,206,0);
    -webkit-transform-origin: top center;
    -ms-transform-origin: top center;
    transform-origin: top center;
    -webkit-animation-name: square-triangle-vertical;
    animation-name: square-triangle-vertical;
	cursor: pointer;
}

.square:hover .square-triangle--top,
.square:focus .square-triangle--top {
    border-color: #67e1dd;
}

.square-triangle--top:hover {
	box-shadow: #67e1dd 0px 0px 150px 0px;
	z-index:999;
}

.square-triangle--bottom {
    bottom: 0;
    left: 0;
	border: 75px solid rgb(0,206,0);
    -webkit-transform-origin: bottom center;
    -ms-transform-origin: bottom center;
    transform-origin: bottom center;
    -webkit-animation-name: square-triangle-vertical;
    animation-name: square-triangle-vertical;
	cursor: pointer;
}

.square:hover .square-triangle--bottom,
.square:focus .square-triangle--bottom {
    border-color: #c3c3c3;
}

.square-triangle--bottom:hover {
	box-shadow: #c3c3c3 0px 0px 150px 0px;
	z-index:999
}

.square-triangle--left {
    top: 0;
    left: 0;
	border: 75px solid rgb(0,206,0);
    -webkit-transform-origin: center left;
    -ms-transform-origin: center left;
    transform-origin: center left;
    -webkit-animation-name: square-triangle-horizontal;
    animation-name: square-triangle-horizontal;
	cursor: pointer;
}

.square:hover .square-triangle--left,
.square:focus .square-triangle--left {
    border-color: #e4d4ff;
}

.square-triangle--left:hover {
	box-shadow: #e4d4ff 0px 0px 150px 0px;
	z-index:999
}

.square-triangle--right {
    top: 0;
    right: 0;
    border: 75px solid rgb(0,206,0);
    -webkit-transform-origin: center right;
    -ms-transform-origin: center right;
    transform-origin: center right;
    -webkit-animation-name: square-triangle-horizontal;
    animation-name: square-triangle-horizontal;
	cursor: pointer;
}

.square:hover .square-triangle--right,
.square:focus .square-triangle--right {
    border-color: yellow;
}

.square-triangle--right:hover {
	box-shadow: yellow 0px 0px 150px 0px;
	z-index:999
}