.rooms_upg {
	background-color: #ffffff;
	text-align: center;
	vertical-align:text-top;
	font-family: verdana;
	border: 2px solid #AAA;
	border-radius: 4px;
	transition-duration: 0.2s;
	height:200px;
	width:250px;
}

.rooms_upg_have {
	box-shadow: #1bbfab 3px 4px 0px 0px;
}

.rooms_upg_cantBuy {
	box-shadow: rgb(255, 0, 0) 3px 4px 0px 0px;
	cursor: not-allowed;
}

.rooms_upg_canBuy {
	box-shadow: lightgreen 3px 4px 0px 0px;
	cursor: pointer;
}

.rooms_upg_canBuy:active {
	transform: translateY(3px);
}

.rooms_upg_canBuy:hover {
	box-shadow: lightgreen 0px 0px 0px 0px;
	box-shadow: #1bbfab 0px 0px 0px 0px;
}