.tabbtn {
    border-radius: 4px;
    transition-duration: 0.2s;
    cursor: pointer;
	font-family: Typewriter;
	font-size: 20px;
    display: inline-block;
}

.tabbtnSet {
    background: #E0E0E0;
    font-weight: bold;
    border: 2px solid #5e9aee;
    border-radius: 4px;
    transition-duration: 0.2s;
    cursor: pointer;
	font-family: Typewriter;
	font-size: 20px;
    display: inline-block;
}

.tabbtnSet:hover {
    background: #5e9aee;
    color:#FFFFFF;
    border-radius: 4px;
    transition-duration: 0.2s;
    cursor: pointer;
	font-family: Typewriter;
	font-size: 20px;
    display: inline-block;
}

.tabbtnMain {
    background: #E0E0E0;
    font-weight: bold;
    border: 2px solid #67e1dd;
}

.tabbtnMain:hover {
	border: 2px solid #E0E0E0;
	background: #000000;
	color:#e1fffe;
}

.tabbtnRoom {
    background: #FFFFFF;
    font-weight: bold;
    border: 2px solid #000000;
}

.tabbtnRoom:hover {
	border: 2px solid #E0E0E0;
	background: #000000;
	color:#FFFFFF;
	box-shadow: #E0E0E0 0px 0px 0px 2px;
}

.tabbtnQuark {
    background: #e4d4ff;
    font-weight: bold;
    border: 2px solid #e12edd;
}

.tabbtnQuark:hover {
	border: 2px solid #E0E0E0;
	background: #FFFFFF;
	color:#e4d4ff;
}

.tabbtnTime {
    background: #FFFFFF;
    font-weight: bold;
    border: 2px solid rgb(0,100,0);
	box-shadow: rgb(0,206,0) 0px 0px 5px 0px;
    transition-duration: 1s;
	color:rgb(0,100,0);
}

.tabbtnTime:hover {
	border: 2px solid rgb(0,206,0);
	background: #000000;
	color:rgb(0,206,0);
}

.tabbtnTimeChange1 {
    background: #E0E0E0;
    font-weight: bold;
    border: 2px solid #fffb00;
    box-shadow: #fffb00 0px 0px 5px 0px;
}

.tabbtnTimeChange1:hover {
	border: 2px solid #fffc51;
	background: #E0E0E0;
	color:#e1fffe;
}