.red {
	background: linear-gradient(60deg, #FF0000, #FFFF00, #FF0000);
    background-size: 300% 300%;
    background-position: 0 100%;
    animation: moveGradient 5s alternate infinite;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 23px;
    transition-duration: 0s !important;
}

.green {
	background: linear-gradient(60deg, #00FF00, #00FFFF, #00FF00);
    background-size: 300% 300%;
    background-position: 0 100%;
    animation: moveGradient 5s alternate infinite;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 23px;
    transition-duration: 0s !important;
}

.blue {
	background: linear-gradient(60deg, #0000FF, #FF00FF, #0000FF);
    background-size: 300% 300%;
    background-position: 0 100%;
    animation: moveGradient 5s alternate infinite;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 23px;
    transition-duration: 0s !important;
}

.yellow {
	background: linear-gradient(60deg, #FFFF00, #FF0000, #FFFF00);
    background-size: 300% 300%;
    background-position: 0 100%;
    animation: moveGradient 5s alternate infinite;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 23px;
    transition-duration: 0s !important;
}

.cyan {
	background: linear-gradient(60deg, #00FFFF, #00FF00, #00FFFF);
    background-size: 300% 300%;
    background-position: 0 100%;
    animation: moveGradient 5s alternate infinite;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 23px;
    transition-duration: 0s !important;
}

.magenta {
	background: linear-gradient(60deg, #FF00FF, #0000FF, #FF00FF);
    background-size: 300% 300%;
    background-position: 0 100%;
    animation: moveGradient 5s alternate infinite;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 23px;
    transition-duration: 0s !important;
}

.white {
	background: linear-gradient(60deg,#888, #000000, #888);
    background-size: 300% 300%;
    background-position: 0 100%;
    animation: moveGradient 5s alternate infinite;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 23px;
    transition-duration: 0s !important;
}
