body {
	text-align: center;
	font-family: verdana;
	font-size: 20px;
	cursor: default;
	background-color: #FFFFFF;
}

.version {
	position: absolute;
    right: 4px;
    top: 4px;
    text-align: right;
	font-family: verdana;
	color:#000000;
	text-shadow: 0 0 10px #000000;
	border-radius: 9px;
	font-size: 15px;
}