.time_buy {
    background: #FFFFFF;
    font-weight: bold;
    vertical-align:text-top;
    border-color: inherit;
    font-weight: bold;
    border: 2px solid rgb(0,100,0);
    border-radius: 6px;
    transition-duration: 0.2s;
    cursor: not-allowed;
	font-family: Typewriter;
    display: inline-block;
	color:rgb(0,100,0);
	height:200px;
	width:200px;
}

.time_buy:hover {
	color:rgb(0, 206, 0);
}

.time_buy_can {
	box-shadow:rgb(0,206,0) 0px 0px 10px 0px;
	border: 2px solid rgb(0,206,0);
    cursor: pointer;
}

.time_challenge1_buy {
    background: #FFFFFF;
    text-align: center;
	vertical-align:text-top;
    border-color: inherit;
    font-weight: bold;
    border: 2px solid rgb(150,100,0);
    border-radius: 6px;
    transition-duration: 0.2s;
    cursor: not-allowed;
	font-family: Typewriter;
    display: inline-block;
	color:rgb(150, 100, 0);
	height:120px;
	width:250px;
}

.time_challenge1_buy:hover {
	color:rgb(250, 206, 0);
}

.time_challenge1_buy_can {
	box-shadow:rgb(250,206,0) 0px 0px 10px 0px;
	border: 2px solid rgb(250,206,0);
    cursor: pointer;
}

.time_challenge2_buy {
    background: #FFFFFF;
    text-align: center;
	vertical-align: text-top;
    border-color: inherit;
    font-weight: bold;
    border: 2px solid rgb(157, 26, 184);
    border-radius: 6px;
    transition-duration: 0.2s;
    cursor: pointer;
	font-family: Typewriter;
    display: inline-block;
	color:rgb(154 77 255);
	height:120px;
	width:250px;
    margin-top: 10px;
    margin-right: 10px;
}

.time_challenge2_buy:hover {
	border:2px solid rgb(224 69 255);
}